.App {
  text-align: center;
  vertical-align: middle;
}

.tableimage {
height: 50px;
width: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

th {
  background-color: #4CAF50;
  color: white;
}

.table {
  margin: auto;
  vertical-align: center;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
}

.rightalign {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.content-loader tr td {
  white-space: nowrap;
}


.selectedright {
  transform: translateX(560px)  
}


.selectedcenter {
  transform: translateX(50px)  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
      display: block;
      width: 100%;
      margin-bottom: 100px;
}


.col-md-4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
}
